<?xml version="1.0"?>
<robot name="car">
  <link name="PPK_GNSS">
    <visual name="base_visual">
      <origin xyz="0 1.0 -2.2" rpy="2.0944  0 0" />
      <geometry>
        <mesh filename="package://s_mls/launch/car/model.dae" scale="1.5 1.5 1.5"/>
      </geometry>
    </visual>
  </link>
</robot>
